@page
@model Website.Pages.ContactModel
@{
    ViewData["Title"] = "Help";
}

<div>
    <p>For developers, you can find more information in the wiki page: <a href="https://github.com/rhitabratakarar/BudgetAnalysis/wiki" target="_blank" rel="noopener noreferrer">Budget Analysis Wiki</a></p>
    <p>To contact me, you can email me at <strong>kararrhitabrata@gmail.com</strong></p>
</div>