@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">👋 Welcome</h1>
    <p>Pick the option that works best for you from the list below...</p>
</div>

<ul>
    <li><a asp-page="/YearlyExpenditure" class="text-decoration-none">Yearly Expenditure</a></li>
    <li><a asp-page="/MonthlyExpenditure" class="text-decoration-none">Monthly Expenditure</a></li>
    <li><a asp-page="/Search" class="text-decoration-none">Search your expenses</a></li>
    <li><a asp-page="/Export" class="text-decoration-none">Export your expenses</a></li>
    <li><a asp-page="/CleanUp" class="text-decoration-none">Cleanup</a></li>
</ul>