@page
@model Website.Pages.YearlyExpenditureModel
@{
    ViewData["Title"] = "Yearly Expenses";
}


@* according to _Layout.cshtml, after the body is rendered, these scripts will be executed. *@
@section Scripts {
    <script>
        const ctx = document.getElementById('year-expenditures-chart').getContext('2d');
        const barChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Rent', 'Groceries', 'Utilities', 'Entertainment', 'Super Entertainment', 'Super Entertainment pt 2', 'Super Entertainment pt 3'],
                datasets: [{
                    label: 'Yearly Expenses',
                    data: [5000, 2000, 1000, 1500, 5000, 6000, 10000],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                indexAxis: 'y',
                plugins: {
                    legend: { display: false },
                    title: { display: false },
                },
                scales: {
                    x: {
                        beginAtZero: true,
                        grid: { display: false }
                    },
                    y: {
                        grid: { display: false }
                    }
                }
            }
        });
    </script>
}


<p>Select the relevant years from the below area 👇</p>
<p><strong>Note: </strong>Hold <strong>'ctrl'</strong> to select multiple...</p>

<form method="post" asp-page="/YearlyExpenditure" class="mt-3 mb-5 text-center">
    <div class="mb-3 mt-3">
        <select class="form-select" id="" multiple aria-label="Select multiple years..." asp-for="SelectedYears">
            <option selected value="select">-- Select --</option>
            @{
                if (Model.ListOfYearsAvailableInDatabase != null && Model.ListOfYearsAvailableInDatabase.Any())
                {
                    foreach (var year in Model.ListOfYearsAvailableInDatabase)
                    {
                        <option value="@year.YearCode">@year.YearCode</option>
                    }
                }
            }
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>


<div class="yearly-expenditures-section mt-5 mb-5">
    @{
        if (Model.SumOfExpendituresByYears != null && Model.SumOfExpendituresByYears.Any())
        {
            <h4>✅ Total expenditures based on selected years: </h4>
            <ul class="mt-3 list-group">
                @{
                    foreach (var kvp in Model.SumOfExpendituresByYears)
                    {
                        <li class="list-group-item">
                            <strong>Year @kvp.Key.YearCode: </strong>@kvp.Value
                        </li>
                    }
                }
            </ul>
        }
    }
</div>


<div class="chart-section mb-5 mt-5">
    @{
        if (Model.SumOfExpendituresByYears != null && Model.SumOfExpendituresByYears.Any())
        {
            <h4>✅ Yearly Expenditures: </h4>
            <canvas id="year-expenditures-chart"></canvas>
        }
    }
</div>