* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

#home-cards-container {
  &::-webkit-scrollbar {
    display: none; /* Hide the default scrollbar */
  }
}

@media (max-width: 576px) {
  #scroll-control-right {
    display: none;
  }

  #scroll-control-left {
    display: none;
  }
}
